
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
  color: rgb(65, 46, 0);
  width: 100%;
  background: rgb(209, 169, 23) url(../../../public/pictures/jewels.jpg) no-repeat center center;
  background-blend-mode: darken;
  background-size: cover;
  background-color: rebeccapurple;
  width: 100%;
}

.form_class {
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background: rgb(246, 167, 58);
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    background-blend-mode: darken;    
  }
  
  .form_div > label {
    letter-spacing: 3px;
    font-size: 1rem;
  }
  .info_div {
    text-align: center;
    margin-top: 20px;
  }
  .info_div {
    letter-spacing: 1px;
  }
  .field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
  }
  .return {
    background: url(ImageNotFound.png) repeat center center;
    height: 584px;
    width: 305px;
    margin-top: auto;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: auto;
    border-style: none;
    cursor: pointer;
    display: block;
  }
  
  #errorType{
    font-size: 3cm;
    margin-top: auto;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: auto;
    font-family: serif;
    letter-spacing: 2vw;
  }
  
  #errorText{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    font-family: serif;
    text-align:center;
    font-size: 0.5cm;
  }
  
  .justify{
    
    margin-top: auto;
    margin-bottom: auto;
    font-family: serif;
    text-align:center;
    font-size: 0.7cm !important;
    display: block;
    letter-spacing: 5px !important;
  }
  
  